# virtualenv files
bin/
lib/
include/

# python files
*.py[cod]
__pycache__/
lanmomo/__pycache__/
lanmomo/lanmomo/__pychache__/

# secret files
lanmomo/db.sqlite3
lanmomo/lanmomo/settings/env.py

# front
public/node_modules
