html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.nav {
  padding-top: 5px;
  padding-right: 20px;
}

#intro {
  text-align: center;
}

#content {
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 25px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #EEE;
}
