html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.nav {
  padding-top: 5px;
  padding-right: 20px;
}

#intro {
  text-align: center;
}

#content {
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 25px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #1C1E22;
}


/* Subscription form */
.control-label-hidden .control-label {
  display: none;
}
.control-label-hidden.has-error .control-label {
  display: inline-block;
}
.progress .progress-bar-loading {
  width: 100%;
  text-shadow: 1px 1px 4px black;
}
