/* BEGIN FOOTER */
html, body {
  height: 100%
}
.wrapper {
  position: relative;
  min-height: 100%;
}
.body {
  padding-top: 70px; /* navbar height + padding */
  padding-bottom: 130px; /* footer height + padding */
}
.body > .body-nopadding {
  position: relative;
  top: -20px;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  padding: 30px 0;
  border-top: 1px solid #0C0D0E;
  background-color: #1C1E22;
}
footer .spacer {
  padding-left: 25px;
}
/* END FOOTER */

/* BEGIN NAVBAR */
@media (min-width: 768px) {
  .navbar-right {
    margin: 0; /* fix alignment inside container */
  }
}
/* END NAVBAR */

/* BEGIN HOME */
.jumbotron {
  background-image: url('featurette/jumbo.png');
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}
.jumbotron h1,
.jumbotron h3 {
  text-shadow: 2px 2px 10px black;
}
.featurette {
  margin-top: 80px;
  margin-bottom: 30px; /* this + footer margin = 80px */
}
.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px; /* Thin out the marketing headings */
}
.featurette-image {
  margin: 0 auto;
  background-color: #000000;
}
@media (min-width: 768px) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
  .featurette-image-pull-right {
     float: right !important;
  }
  .featurette-image-pull-left {
    float: left !important;
  }
}
/* END HOME */

/* BEGIN SUBSCRIPTION */
.has-feedback .control-label-hidden .control-label,
.has-feedback .form-control-feedback {
  display: none;
}
.has-feedback.has-error .control-label-hidden .control-label {
  display: inline-block;
}
.has-feedback.has-error .form-control-feedback.feedback-error,
.has-feedback.has-success .form-control-feedback.feedback-success {
  display: block;
}
.has-feedback .form-control-feedback.feedback-select {
  right: 30px;
}
.progress .progress-bar-loading {
  width: 100%;
  text-shadow: 1px 1px 4px black;
}
/* END SUBSCRIPTION */
