/* BEGIN FOOTER */
html, body {
  height: 100%
}
.wrapper {
  position: relative;
  min-height: 100%;
}
.body {
  padding-top: 70px; /* navbar height + padding */
  padding-bottom: 130px; /* footer height + padding */
}
.body > .body-nopadding {
  position: relative;
  top: -20px;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  padding: 30px 0;
  border-top: 1px solid #0C0D0E;
  background-color: #1C1E22;
}
footer a {
  white-space: nowrap;
}
footer .spacer {
  padding-left: 25px;
}
footer .spacer:first-child {
  padding-left: 0;
}
@media (max-width: 768px) {
  .body {
    padding-bottom: 210px;
  }
  footer {
    height: 160px;
  }
  footer p.text-center {
    margin-top: 45px;
    line-height: 2.5em;
  }
  footer .spacer {
    padding-left: 20px;
  }
}
/* END FOOTER */

/* BEGIN NAVBAR */
@media (min-width: 768px) {
  .navbar-right {
    margin: 0; /* fix alignment inside container */
  }
}
/* END NAVBAR */

/* BEGIN HOME */
.jumbotron {
  text-align: center;
}
.jumbotron-home {
  background-image: url('featurette/jumbo.png');
  background-repeat: no-repeat;
  background-position: center;
}
.jumbotron-home h1,
.jumbotron-home h3 {
  text-shadow: 2px 2px 10px black;
}
.featurette, .featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px; /* Thin out the marketing headings */
}
.featurette-image {
  margin: 0 auto;
  background-color: #000000;
}
@media (min-width: 768px) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
  .featurette-image-pull-right {
     float: right !important;
  }
  .featurette-image-pull-left {
    float: left !important;
  }
}
/* END HOME */

/* BEGIN SUBSCRIPTION */
.has-feedback .control-label-hidden .control-label,
.has-feedback .form-control-feedback {
  display: none;
}
.has-feedback.has-error .control-label-hidden .control-label {
  display: inline-block;
}
.has-feedback.has-error .form-control-feedback.feedback-error,
.has-feedback.has-success .form-control-feedback.feedback-success {
  display: block;
}
.has-feedback .form-control-feedback.feedback-select {
  right: 30px;
}
.form-group .alert {
  margin: 0;
}
.progress .progress-bar-loading {
  width: 100%;
  text-shadow: 1px 1px 4px black;
}
/* END SUBSCRIPTION */

/* BEGIN BTN-SUBSCRIBE */
.btn-subscribe {
  color: #ffffff;
  background-color: #375a7f;
  border-color: #375a7f;
  background-image: -webkit-linear-gradient(#406994, #375a7f 60%, #315071);
  background-image: -o-linear-gradient(#406994, #375a7f 60%, #315071);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#406994), color-stop(60%, #375a7f), to(#315071));
  background-image: linear-gradient(#406994, #375a7f 60%, #315071);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff406994', endColorstr='#ff315071', GradientType=0);
  -webkit-filter: none;
  filter: none;
}
.btn-subscribe:hover,
.btn-subscribe:focus,
.btn-subscribe.focus,
.btn-subscribe:active,
.btn-subscribe.active,
.open > .dropdown-toggle.btn-subscribe {
  color: #ffffff;
  background-color: #28415b;
  border-color: #253c54;
}
.btn-subscribe:active,
.btn-subscribe.active,
.open > .dropdown-toggle.btn-subscribe {
  background-image: none;
}
.btn-subscribe.disabled,
.btn-subscribe[disabled],
fieldset[disabled] .btn-subscribe,
.btn-subscribe.disabled:hover,
.btn-subscribe[disabled]:hover,
fieldset[disabled] .btn-subscribe:hover,
.btn-subscribe.disabled:focus,
.btn-subscribe[disabled]:focus,
fieldset[disabled] .btn-subscribe:focus,
.btn-subscribe.disabled.focus,
.btn-subscribe[disabled].focus,
fieldset[disabled] .btn-subscribe.focus,
.btn-subscribe.disabled:active,
.btn-subscribe[disabled]:active,
fieldset[disabled] .btn-subscribe:active,
.btn-subscribe.disabled.active,
.btn-subscribe[disabled].active,
fieldset[disabled] .btn-subscribe.active {
  background-color: #375a7f;
  border-color: #375a7f;
}
.btn-subscribe .badge {
  color: #375a7f;
  background-color: #ffffff;
}
.btn-subscribe:hover {
  background-image: -webkit-linear-gradient(#121d2a, #1b2d3f 40%, #21374d);
  background-image: -o-linear-gradient(#121d2a, #1b2d3f 40%, #21374d);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#121d2a), color-stop(40%, #1b2d3f), to(#21374d));
  background-image: linear-gradient(#121d2a, #1b2d3f 40%, #21374d);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff121d2a', endColorstr='#ff21374d', GradientType=0);
  -webkit-filter: none;
  filter: none;
}
/* END BTN-SUBSCRIBE */
