; systemd config file
[Service]
Type=simple
ExecStart=/usr/bin/uwsgi /opt/lanmomo/deploy/lanmomo.ini

; should probably run uwsgi as a non root user
;User=lanmomo
;Group=lanmomo

; uwsgi shouldn't crash, but you never know
Restart=always
RestartSec=60

[Install]
WantedBy=default.target
