<div class="container">
  <div class="page-header">
    <h1>À propos</h1>
  </div>

  <p>Le LAN Montmorency est avant tout une initiative d'étudiants et d'étudiants diplômés du Collège Montmorency situé à Laval. Tout a commencé en 2009, lorsque Patrick Gagnon-Renaud a organisé son tout premier LAN. Après que ce dernier fut un succès, d'autres LAN ont été organisées au rythme d’un ou deux par années. Au courant des années, Justin Duplessis s’est ajouté pour donner un coup de main et participer à l’organisation. C'est en 2014 que le LAN Montmorency fut fondé avec l'équipe actuel.</p>

  <h2>Équipe</h2>
  <ul>
    <li>Patrick Gagnon-Renaud: Organisation, réseau et développement web</li>
    <li>Justin Duplessis: Organisation, serveurs et développement web</li>
    <li>Nicolas Nadeau: Organisation, serveurs et réseau</li>
    <li>Victor Dyotte: Organisation, développement web et ressources</li>
    <li>Félix Leblanc: Développement web</li>
    <li>Gabriel Bélanger-Fleury: Ressources</li>
    <li>Ricky Notaro-Garcia: Ressources</li>
    <li>Nicolas Roy-Renaud: Serveurs</li>
  </ul>

  <h2>Remerciements</h2>
  <ul>
    <li>Nous remercions <a href="http://www.cmontmorency.qc.ca/">le Collège Montmorency</a> pour ses locaux, ses équipements et sa gracieuseté infinie</li>
    <li>Nous remercions <a href="http://cosphobuddy.deviantart.com/">CosPhoBuddy</a> pour ses photos qui donnent de la gueule à notre page d'accueil</li>
    <li>Nous remercions tous nos membres pour le temps qu'ils ont mis et les efforts qu'ils ont faits pour mener à bien la réalisation du LAN Montmorency</li>
    <li>Nous remercions Tacos-Nachos pour les nombreux tacos et innombrables nachos</li>
  </ul>
</div>

