<div class="container">
  <div class="page-header">
    <h1>Nous joindre</h1>
  </div>

  <p>Vous pouvez nous joindre, pour toute question, commentaire ou demande, par courriel à l'adresse email suivante: <strong>&#105;&#110;&#102;&#111;&#64;&#108;&#97;&#110;&#109;&#111;&#109;&#111;&#46;&#111;&#114;&#103;</strong></p>

  <h2>Emplacement</h2>
  <p>Le LAN Montmorency ce déroule au Collège Montmorency, dans l'Agora, accessible via l'entrée principale.</p>
  <blockquote>
    <strong><a href="https://www.google.ca/maps/place/Collège+Montmorency/@45.559707,-73.719656,17z/"><i class="fa fa-map-marker"></i> Collège Montmorency</a></strong><br />
    475, Boulevard de l'Avenir<br />
    Laval, QC H7N 5H9
  </blockquote>

  <h2>Liens externes</h2>
  <ul>
    <li><a href="https://www.facebook.com/lanmomo"><i class="fa fa-facebook-official"></i> Facebook</a></li>
    <li><a href="https://twitter.com/lanmontmorency"><i class="fa fa-twitter"></i> Twitter</a></li>
    <li><a href="http://www.reddit.com/r/lanmomo"><i class="fa fa-reddit"></i> Reddit</a></li>
    <li><a href="http://www.twitch.tv/lanmontmorency"><i class="fa fa-twitch"></i> Twitch</a></li>
    <li><a href="https://github.com/lanmomo"><i class="fa fa-github-alt"></i> GitHub</a></li>
  </ul>
</div>
