<div class="container">
  <div class="checkout-breadcrumb-container">
      <div class="checkout-breadcrumb">
        <span class="success">Billet</span>
        <span class="success">Siège</span>
        <span class="success">Sommaire</span>
        <span class="success">Payement</span>
        <span ng-class="{ 'active': loading, 'success': !loading }">Confirmation</span>
      </div>
  </div>
  <div class="page-header">
    <h1 ng-show="loading">Réception de votre paiement...</h1>
    <h1 ng-show="!loading">Confirmation de votre achat</h1>
  </div>

  <div class="alert alert-success" role="alert" ng-show="message">
    <i class="fa fa-info-circle"></i> {{message}}
  </div>

  <div class="well" ng-show="message">
    <p class="text-info"><i class="fa fa-info-circle"></i> Vous pouvez maintenant vous inscrire aux tournois ! Rendez-vous sur la page:</p>
    <a href="/tournaments" class="btn btn-default btn-sm"><i class="fa fa-shield"></i> Tournois</a>
  </div>

  <div class="alert alert-danger" role="alert" ng-show="error">
    <i class="fa fa-exclamation-triangle"></i> {{error.message}}
  </div>

  <div ng-show="loading" class="progress progress-striped active">
    <div class="progress-bar progress-bar-loading">
      Chargement
    </div>
  </div>
</div>
