<div class="container">
  <div class="page-header">
    <h1>F.A.Q.</h1>
  </div>

  <h3>Pourquoi ne puis-je pas m'inscrire à la fois PC et Console?</h3>
  <p>Puisque les places sont très limitées, nous préférons privilégier un joueur qui désire occuper sa place pendant 100% du temps (à l'opposé d'une personne qui occupe 50% du temps une place PC et l'autre 50% une place Console).</p>

  <h3>C’est ma première fois au LAN Montmorency! Comment ça se passe?</h3>
  <p>Tout d’abord, bienvenue à toi! Pour commencer, arrive entre 10h et 12h avec tout ton équipement et présente-toi à la table d’accueil dans l’Agora. Nous allons t’enregistrer et te trouver une place où tu vas pouvoir t’installer et te connecter. Ensuite, tu vas pouvoir jouer à tous les jeux que tu veux pour les 28 prochaines heures. Nous mettons à votre disposition des serveurs locaux pour certains jeux et nous organisons des tournois et des activités de groupe. Nous allons te donner tous les détails rendus au LAN!</p>

  <h3>Comment puis-je me rendre au cégep? Où puis-je me stationner?</h3>
  <p>L’adresse du Collège Montmorency: 475, boulevard de l'Avenir, Laval. Si vous êtes courageux, vous pouvez vous y rendre en transport en commun et débarquer au terminus Montmorency. Si vous vous rendez en voiture, vous pouvez vous stationner dans le stationnement du collège, au coût de 7$ par jour. Le LAN se déroule dans l’Agora du Collège, accessible via l’entrée principale.</p>

  <h3>Que dois-je apporter et que dois-je ne pas apporter?</h3>
  <p>Tout d’abord, apportez une pièce d’identité, qui est requise lors de votre enregistrement à votre arrivée. Aussi, n’oubliez pas de vous apporter à manger (voir plus bas) et le nécessaire pour dormir (voir plus bas aussi). Pour le reste du matériel à apporter, consultez la page des conditions générales pour plus de détails.</p>

  <h3>Quelle est la dimension que je dispose à ma place?</h3>
  <p>Vous disposez d’une place assise à une table avec un espace de 30” x 30”, soit 76 cm x 76 cm. Vous vous installez comme vous le désirez, mais tout votre équipement doit être contenu dans cet espace.</p>

  <h3>Comment ça fonctionne pour la nourriture?</h3>
  <p>Nous organisons un repas de groupe (de la pizza), au souper du samedi soir. Apportez votre argent comptant. Pour le reste des repas, vous êtes responsable de répondre à vos propres besoins en nourriture. Apportez vos repas et vos snacks. Il y a toujours les restaurants au Quartier Laval, l’épicerie Métro à proximité et les machines distributrices du collège.</p>

  <h3>Pouvons-nous dormir pendant le LAN? Si oui, comment ça marche?</h3>
  <p>Oui, vous êtes autorisé à dormir sur place. Néamoins, puisque nous n’avons pas le budget requis pour payer un gardien de sécurité de plus, nous ne pouvons pas dédier un local à cet effet. Nous allons donc prévoir un emplacement à même l’Agora pour pouvoir dormir. Vous devez apporter tout ce dont vous avez besoin pour pouvoir dormir, mais soyez raisonnable pour ne pas apporter trop de choses.</p>

  <h3>Pouvons-nous entrer et sortir du Cégep pendant la nuit?</h3>
  <p>Non. Les portes du Cégep seront verrouillées comme à l’habitude à 23h, et seront déverrouillées à 7h le lendemain. Aucune exception ne sera faite. Si vous devez quitter pendant la nuit, vous avez le droit de sortir, mais vous allez devoir attendre à 7h le lendemain pour pouvoir réintégrer le Cégep.</p>
</div>
