<div class="container">
  <div class="page-header">
    <h1>F.A.Q.</h1>
  </div>

  <h3>Qu'est-ce que ça veut dire <em>F.A.Q.</em> ?</h3>
  <p>F.A.Q. est un acronyme pour "Foire Aux Questions" ou encore "Frequently Asked Question" en anglais.</p>

  <h3>Pourquoi ne puis-je pas m'inscrire à la fois PC et Console?</h3>
  <p>Puisque les places sont très limitées, nous préférons privilégié un joueur qui désire occuper sa place pendant 100% du temps (à l'opposé d'une personne qui occupe 50% du temps une place PC et l'autre 50% une place Console).</p>
</div>
