<div class="container">
  <div class="page-header">
    <h1>F.A.Q.</h1>
  </div>

  <h3>Pourquoi ne puis-je pas acheter un billet à la fois <abbr title="Bring Your Own Computer / Apporter votre propre ordinateur">BYOC</abbr> et Console ?</h3>
  <p>Puisque les places sont limitées, nous préférons privilégier un joueur qui désire occuper sa place pendant 100% du temps. Néanmoins, les joueurs <abbr title="Bring Your Own Computer / Apporter votre propre ordinateur">BYOC</abbr> ont accès aux jeux libres de la zone Console (mais pas les tournois Console).</p>

  <h3>Que dois-je faire si je veux participer à la fois aux tournois <abbr title="Bring Your Own Computer / Apporter votre propre ordinateur">BYOC</abbr> et Console ?</h3>
  <p>Dans ce cas particulier, vous devez acheter un billet <abbr title="Bring Your Own Computer / Apporter votre propre ordinateur">BYOC</abbr> et payer un droit de participation aux tournois Console (frais de 5$) qui est normalement inclut dans le billet Console.</p>

  <h3>C’est ma première fois au LAN Montmorency ! Comment ça se passe ?</h3>
  <p>Tout d’abord, bienvenue à toi! Pour commencer, arrive entre 10h et 12h avec tout ton équipement et présente-toi à la table d’accueil dans l’Agora. Nous allons t’enregistrer et te trouver une place où tu vas pouvoir t’installer et te connecter. Ensuite, tu vas pouvoir jouer à tous les jeux que tu veux pour le restant du LAN. Nous mettons à votre disposition des serveurs locaux pour certains jeux et nous organisons des tournois et des activités de groupe.</p>

  <h3>Comment puis-je me rendre au cégep ? Où puis-je me stationner ?</h3>
  <p>L’adresse du Collège Montmorency: 475, boulevard de l'Avenir, Laval. Si vous êtes courageux, vous pouvez vous y rendre en transport en commun et débarquer au terminus Montmorency. Si vous vous rendez en voiture, vous pouvez vous stationner dans le stationnement du collège, au coût de 7$ par jour. Le LAN se déroule dans l’Agora du Collège, accessible via l’entrée principale.</p>

  <h3>Que dois-je apporter et que dois-je ne pas apporter ?</h3>
  <p>Tout d’abord, apportez une pièce d’identité, qui est requise lors de votre enregistrement à votre arrivée. Aussi, n’oubliez pas de vous apporter à manger (voir plus bas) et le nécessaire pour dormir (voir plus bas). Pour le reste du matériel à apporter, consultez la page des conditions générales pour plus de détails.</p>

  <h3>Quelle est la dimension que je dispose à ma place ?</h3>
  <p>Vous disposez d’une place assise à une table avec un espace de 32" x 30", soit 81cm x 76cm. Vous vous installez comme vous le désirez, mais tout votre équipement doit être contenu dans cet espace.</p>

  <h3>Comment ça fonctionne pour la nourriture ?</h3>
  <p>Nous organisons un repas de groupe (de la pizza), au souper du samedi soir. Ce repas sera offert au coût de 5$. Veuillez apporter votre argent comptant si vous êtes intéressé. Pour le reste des repas, vous êtes responsable de répondre à vos propres besoins en nourriture. Apportez vos repas et vos collations. Il y a toujours les restaurants au Quartier Laval, l’épicerie Métro à proximité et les machines distributrices du collège.</p>

  <h3>Pouvons-nous dormir pendant le LAN ?</h3>
  <p>Oui, vous êtes autorisé à dormir sur place. Un local sera dédié à cet effet. Vous devez apporter tout ce dont vous avez besoin pour pouvoir dormir, mais soyez raisonnable pour ne pas apporter trop de choses.</p>

  <h3>Pouvons-nous entrer et sortir du Cégep pendant la nuit ?</h3>
  <p>Non. Les portes du Cégep seront verrouillées comme à l’habitude à 23h, et seront déverrouillées à 7h le lendemain. Aucune exception ne sera faite. Si vous devez quitter pendant la nuit, vous avez le droit de sortir, mais vous allez devoir attendre à 7h le lendemain pour pouvoir réintégrer le Cégep.</p>
</div>
