<div class="container">
  <div class="page-header">
    <h1>Jeux</h1>
  </div>

  <div class="well">
    <p class="text-info"><i class="fa fa-info-circle"></i> Pour de l'information sur les jeux organisés lors de parties compétive et les tournois, rendez-vous sur la page:</p>
      <a href="/tournaments" class="btn btn-default btn-sm"><i class="fa fa-shield"></i> Tournois</a>
  </div>

    <h2>BYOC</h2>

  <div class="alert alert-info">
    <i class="fa fa-info-circle"></i>
    <strong>Les jeux suivants sont organisés par l'équipe.</strong>
    Des serveurs locaux seront mis à votre disposition.
  </div>

  <div class="row">
    <div class="col-lg-6" ng-repeat="game in games.pc">
      <div class="well">
        <div class="row">
          <div class="col-xs-6" ng-class-even="'col-xs-push-6'">
            <img ng-src="{{game.imagePath}}" alt="{{game.title}}" class="img-responsive" />
          </div>
          <div class="col-xs-6" ng-class-even="'col-xs-pull-6'">
            <h3 class="media-heading">{{game.title}}</h3>
            {{game.description}}
          </div>
        </div>
      </div>
    </div>
  </div>

    <h2>Console</h2>

  <div class="alert alert-info">
    <i class="fa fa-info-circle"></i>
    <strong>Les jeux suivants sont organisés par l'équipe.</strong>
    Des consoles et des téléviseurs seront mis à votre disposition.
  </div>

  <div class="row">
    <div class="col-lg-6" ng-repeat="game in games.console">
      <div class="well">
        <div class="row">
          <div class="col-xs-6" ng-class-even="'col-xs-push-6'">
            <img ng-src="{{game.imagePath}}" alt="{{game.title}}" class="img-responsive" />
          </div>
          <div class="col-xs-6" ng-class-even="'col-xs-pull-6'">
            <h3 class="media-heading">{{game.title}}</h3>
            {{game.description}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
