<div class="container">
  <div class="page-header">
    <h1>Jeux</h1>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h3>Les jeux suivants seront organisés par l'équipe.</h3>
      <div class="well well-sm text-info">Des serveurs locaux seront disponibles au LAN lorsque possible</div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6" ng-repeat="game in data">
      <div class="well">
        <div class="row">
          <div class="col-xs-6" ng-class-even="'col-xs-push-6'">
            <img ng-src="{{game.imagePath}}" alt="{{game.title}}" class="img-responsive" />
          </div>
          <div class="col-xs-6" ng-class-even="'col-xs-pull-6'">
            <h3 class="media-heading">{{game.title}}</h3>
            {{game.description}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
