<div>
  <div class="container">
    <div class="jumbotron">
      <h1>LAN Montmorency <br /><small>vous souhaite la bienvenue!</small></h1>
      <br />
      <h3>Prochain LAN, le 25 et 26 avril 2015.</h3>
      <br /><br />
      <p><a class="btn btn-primary btn-lg" href="/subscribe" role="button"><i class="fa fa-pencil"></i> S'inscrire</a></p>
    </div>

    <div class="row featurette">
      <div class="col-md-5 col-lg-6">
        <h2 class="featurette-heading">Featured show! <span class="text-muted">It'll blow your mind.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-7 col-lg-6">
        <div class="featurette-image-pull-right">
          <img class="featurette-image img-responsive" src="assets/featurette/first.png" alt="media" />
        </div>
      </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7 col-lg-6">
        <div class="featurette-image-pull-left">
          <img class="featurette-image img-responsive" src="assets/featurette/second.png" alt="media" />
        </div>
      </div>
      <div class="col-md-5 col-lg-6">
        <h2 class="featurette-heading">And this one too! <span class="text-muted">Look this out!</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-5 col-lg-6">
        <h2 class="featurette-heading">But wait, there is more! <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-7 col-lg-6">
        <div class="featurette-image-pull-right">
          <img class="featurette-image img-responsive" src="assets/featurette/third.png" alt="media" />
        </div>
      </div>
    </div>
  </div>
</div>
