<div>
  <div class="container">
    <div class="jumbotron jumbotron-home">
      <h1><small>Venez vivre l'expérience</small><br />LAN Montmorency!</h1>
      <br />
      <h2>Prochain LAN, le 25 et 26 avril 2015.</h2>
      <br /><br />
      <p><a class="btn btn-subscribe btn-lg" href="/subscribe" role="button"><i class="fa fa-pencil"></i> S'inscrire</a></p>
    </div>

    <div class="row featurette">
      <div class="col-md-6">
        <h2 class="featurette-heading">Viens jouer en réseau avec nous! <span class="text-muted">Tu n'as qu'à apporter ton ordinateur ou ton portable.</span></h2>
      </div>
      <div class="col-md-6">
        <div class="featurette-image-pull-right">
          <img class="featurette-image img-responsive" src="assets/featurette/first.png" alt="media" />
        </div>
      </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-6">
        <div class="featurette-image-pull-left">
          <img class="featurette-image img-responsive" src="assets/featurette/third.png" alt="media" />
        </div>
      </div>
      <div class="col-md-6">
        <h2 class="featurette-heading">Invite tes amis! <span class="text-muted">Et viens avoir du fun avec des joueurs passionnés des mêmes jeux que toi!</span></h2>
      </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-6">
        <h2 class="featurette-heading">Et en plus, c'est gratuit! <span class="text-muted">Donc, tu n'as aucune raison de brasser ton écran comme ce gars-là.</span></h2>
      </div>
      <div class="col-md-6">
        <div class="featurette-image-pull-right">
          <img class="featurette-image img-responsive" src="assets/featurette/second.png" alt="media" />
        </div>
      </div>
    </div>

    <div class="jumbotron">
      <h1><small>Alors, qu'attends-tu?</small><br />Inscris toi dès maintenant!</h1>
      <br />
      <p><a class="btn btn-subscribe btn-lg" href="/subscribe" role="button"><i class="fa fa-pencil"></i> S'inscrire</a></p>
    </div>
  </div>
</div>
