<div class="container">
  <div class="page-header">
    <h1>Connexion</h1>
  </div>

  <form class="form-login" name="login" ng-submit="submitLogin()">
    <div ng-show="error" class="alert alert-danger text-center" role="alert">
      <i class="fa fa-exclamation-triangle"></i> {{ error.message }}
    </div>

    <input type="email" name="email" ng-model="user.email" class="form-control" placeholder="Adresse courriel" autofocus>
    <input type="password" name="password" ng-model="user.password" class="form-control" placeholder="Mot de passe">

    <button class="btn btn-primary btn-block btn-lg" type="submit" ng-disabled="!user.password || !user.email">
      <i class="fa fa-sign-in"></i> Connexion
    </button>

    <p class="text-center"><a href="/signup">Pas encore membre ?</a></p>
  </form>
</div>
