<div class="container">
  <div class="checkout-breadcrumb-container" ng-show="canBuy">
      <div class="checkout-breadcrumb">
        <a href="/tickets" class="success">Billet</a>
        <a href="/map" class="active">Siège</a>
        <span>Sommaire</span>
        <span>Payement</span>
        <span>Confirmation</span>
      </div>
  </div>
  <div class="page-header">
    <div class="row header-with-timer">
      <div class="col-xs-8">
        <h1>Plan</h1>
      </div>
      <div class="col-xs-4 text-right">
        <span class="btn timer" ng-show="timerTime" ng-class="{ 'btn-warning': !timerTimeDanger, 'btn-danger': timerTimeDanger }" tooltip-placement="bottom" tooltip="Temps restant pour compléter votre transaction">
            <i class="fa fa-clock-o"></i><span> <span class="hidden-xs">Temps restant:</span> </span><span class="time-container">{{ timerTime }}</span>
        </span>
      </div>
    </div>
  </div>

  <div ng-hide="loggedIn">
    <div class="well">
      <p class="text-warning"><i class="fa fa-exclamation-triangle"></i> <strong>Attention!</strong> Vous devez être connecté pour réserver un siège.</p>
      <div class="btn-group" role="group">
        <a href="/signup" class="btn btn-default btn-sm"><i class="fa fa-pencil-square-o"></i> Créer un compte</a>
        <a href="/login" class="btn btn-default btn-sm"><i class="fa fa-sign-in"></i> Se connecter</a>
      </div>
    </div>
  </div>

  <div class="alert alert-danger" role="alert" ng-show="error">
    <i class="fa fa-exclamation-triangle"></i> {{ error.message }}
  </div>

  <div class="seat-map clearfix">
    <div class="seat-map-section seat-map-left">
      <div class="scene">
        <div>Scène</div>
      </div>
    </div>
    <div class="seat-map-section seat-map-center">
      <div ng-repeat="(row, _) in times(4) track by $index">
        <div class="clearfix">
          <div ng-repeat="(col, _) in times(24) track by $index" ng-init="seat = row * 24 + col + 1;"
               ng-attr-id="{{ seat }}" ng-click="selectSeat(seat)"
               ng-class="{bottom: row==1 || row==3, right: col==23, selected: isSelected(seat), taken: isTaken(seat), reserved: isReserved(seat), user: isUser(seat)}"
               class="seat" tooltip-placement="bottom" tooltip="{{ getOwner(seat) }}">
            {{ seat }}
          </div>
        </div>
        <div class="splitter" ng-show="row == 1"></div>
      </div>
    </div>
    <div class="seat-map-section seat-map-right">
      <div class="console">
        <div>Consoles</div>
      </div>
    </div>
  </div>

  <div class="well seat-map-preview" ng-hide="selectedSeat">
    <div class="media">
      <div class="media-left">
        <div class="preview-seat">
          <span>?</span>
        </div>
      </div>
      <div class="media-body preview-text">
        <h3 class="media-heading">Veuillez selectionner un siège</h3>
        <p>Cliquez sur un siège pour obtenir plus d'information et prendre connaissance des options disponibles.</p>
      </div>
    </div>
  </div>

  <div class="well seat-map-preview" ng-show="selectedSeat">
    <div class="media">
      <div class="media-left">
        <div class="preview-seat">
          <span>{{ selectedSeatID }}</span>
        </div>
      </div>
      <div class="media-body preview-text" ng-show="selectSeatIsFree">
        <h3 class="media-heading text-success">Disponible</h3>
        <p ng-show="canBuy"><button class="btn btn-success" ng-disabled="submitted" ng-click="buy(selectedSeatID)">Réserver ce siège <i class="fa fa-chevron-right"></i></button></p>
        <p ng-hide="canBuy">Ce siège est disponible.</p>
      </div>
      <div class="media-body preview-text" ng-show="!selectSeatIsFree && !selectedSeatTicketPaid && !selectedSeatIsUserPaidSeat">
        <h3 class="media-heading text-warning">Réservé</h3>
        <p>Ce siège est réservé par <strong>{{ selectedSeatUser }}</strong> jusqu'à {{ selectedSeatUntil | amDateFormat:'HH:mm:ss' }}.</p>
      </div>
      <div class="media-body preview-text" ng-show="!selectSeatIsFree && selectedSeatTicketPaid && !selectedSeatIsUserPaidSeat">
        <h3 class="media-heading text-danger">Vendu</h3>
        <p>Ce siège a été vendu à <strong>{{ selectedSeatUser }}</strong>.</p>
      </div>
      <div class="media-body preview-text" ng-show="selectedSeatIsUserPaidSeat">
        <h3 class="media-heading text-info">Votre siège</h3>
        <p>Ce siège a été vendu à vous, <strong>{{ selectedSeatUser }}</strong>.</p>
      </div>
    </div>
  </div>

  <div class="well">
    Légende
    <span class="label label-success">Disponible</span>
    <span class="label label-warning">Réservé</span>
    <span class="label label-danger">Vendu</span>
    <span class="label label-info" ng-show="loggedIn">Vous</span>
  </div>
</div>
