<div class="container">
  <div class="page-header">
    <h1>Plan</h1>
  </div>

  <div ng-hide="loggedIn">
    <div class="well">
      <p class="text-warning"><i class="fa fa-exclamation-triangle"></i> <strong>Attention!</strong> Vous devez être connecté pour réserver un siège.</p>
      <div class="btn-group" role="group">
        <a href="/signup" class="btn btn-default btn-sm"><i class="fa fa-pencil-square-o"></i> Créer un compte</a>
        <a href="/login" class="btn btn-default btn-sm"><i class="fa fa-sign-in"></i> Se connecter</a>
      </div>
    </div>
  </div>

  <div class="alert alert-danger" role="alert" ng-show="error">
    <i class="fa fa-exclamation-triangle"></i> {{ error.message }}
  </div>

  <div class="seat-map clearfix">
    <div class="seat-map-section seat-map-left">
      <div class="scene">
        <div>Scène</div>
      </div>
    </div>
    <div class="seat-map-section seat-map-center">
      <div ng-repeat="(row, _) in times(4) track by $index">
        <div class="clearfix">
          <div ng-repeat="(col, _) in times(24) track by $index" ng-init="seat = row * 24 + col + 1;"
               ng-attr-id="{{ seat }}" ng-click="selectSeat(seat)"
               ng-class="{bottom: row==1 || row==3, right: col==23, selected: selectedSeatID == seat, taken: isTaken(seat), reserved: isReserved(seat), user: userPaidSeatID == seat}"
               class="seat" tooltip-placement="bottom" tooltip="{{ getOwner(seat) }}">
            {{ seat }}
          </div>
        </div>
        <div class="splitter" ng-show="row == 1"></div>
      </div>
    </div>
    <div class="seat-map-section seat-map-right">
      <div class="console">
        <div>Consoles</div>
      </div>
    </div>
  </div>

  <div class="well seat-map-preview" ng-hide="selectedSeat">
    <div class="media">
      <div class="media-left">
        <div class="preview-seat">
          <span>?</span>
        </div>
      </div>
      <div class="media-body preview-text">
        <h4 class="media-heading">Veuillez selectionner un siège</h4>
        <p>Cliquez sur un siège pour obtenir plus d'information et prendre connaissance des options disponibles.</p>
      </div>
    </div>
  </div>

  <div class="well seat-map-preview" ng-show="selectedSeat">
    <div class="media">
      <div class="media-left">
        <div class="preview-seat">
          <span>{{ selectedSeatID }}</span>
        </div>
      </div>
      <div class="media-body preview-text" ng-show="selectSeatIsFree">
        <h4 class="media-heading text-success">Disponible</h4>
        <p ng-show="loggedIn"><button class="btn btn-success btn-sm" ng-click="buy(selectedSeatID)">Réserver ce siège <i class="fa fa-chevron-right"></i></button></p>
        <p ng-show="!loggedIn">Ce siège est disponible.</p>
      </div>
      <div class="media-body preview-text" ng-show="!selectSeatIsFree && !selectedSeatTicket.paid && !selectedSeatIsUserPaidSeat">
        <h4 class="media-heading text-warning">Réservé</h4>
        <p>Ce siège est réservé par <strong>{{ selectedSeatUser.username }}</strong> jusqu'à {{ selectedSeatTicket.reserved_until | amDateFormat:'HH:mm:ss' }}.</p>
      </div>
      <div class="media-body preview-text" ng-show="!selectSeatIsFree && selectedSeatTicket.paid && !selectedSeatIsUserPaidSeat">
        <h4 class="media-heading text-danger">Vendu</h4>
        <p>Ce siège a été vendu à <strong>{{ selectedSeatUser.username }}</strong>.</p>
      </div>
      <div class="media-body preview-text" ng-show="selectedSeatIsUserPaidSeat">
        <h4 class="media-heading text-info">Votre siège</h4>
        <p>Ce siège a été vendu à vous, <strong>{{ selectedSeatUser.username }}</strong>.</p>
      </div>
    </div>
  </div>
</div>
