<div class="container">
  <div class="page-header">
    <div class="row header-with-timer">
      <div class="col-xs-9">
        <h1>Paiement de billet</h1>
      </div>
      <div class="col-xs-3 text-right">
        <span class="btn btn-disabled timer" ng-show="timerTime" ng-class="{ 'btn-warning': !timerTimeDanger, 'btn-danger': timerTimeDanger }">
            <i class="fa fa-clock-o"></i> <span class="time-container">{{ timerTime }}</span>
        </span>
      </div>
    </div>
  </div>

  <div class="alert alert-success" role="alert" ng-show="message">
    <i class="fa fa-info-circle"></i> {{message}}
  </div>

  <div class="alert alert-danger" role="alert" ng-show="error">
    <i class="fa fa-info-circle"></i> {{error}}
  </div>

  <h2>Confirmer l'achat d'un billet de type {{ticket_type_str}}</h2>

  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="discountMomo" ng-init="checked = false">
      Je suis un étudiant de Montmorency (5$ de rabais)
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="participateGG" ng-init="checked = true">
      Je souhaite participer au concours de Gamer's Giveaway. Votre adresse courriel leur sera envoyé.
    </label>
  </div>

  <p>Total à payer {{getTotal()}} $</p>

  <button class="btn btn-warning" ng-click="payNow()"><i class="fa fa-paypal"></i> Payer avec PayPal</button>

</div>
