<div class="container">
  <div class="page-header">
      <h1>Bonjour {{userData.username}}</h1>
  </div>
  <div class="alert alert-success" role="alert" ng-show="message">
    <i class="fa fa-info-circle"></i> {{message}}
  </div>

  <div class="alert alert-danger" role="alert" ng-show="error">
    <i class="fa fa-info-circle"></i> {{error}}
  </div>
  <div ng-show="userTicket && !userTicket.paid">
    <div class="well well-lg">
      <p class="text-danger">Votre billet n'est pas encore payé.</p>
      <p class="text-danger">Il est réservé jusqu'à {{userTicket.reserved_until}}</p>
      <a ng-href="/pay" class="btn btn-danger btn-lg">Payer mon billet <i class="fa fa-chevron-right fa-3"></i></a>
    </div>
  </div>
  <div ng-show="userTicket && userTicket.paid">
    <div class="well well-lg">
      <p class="text-success">Votre billet a été payé.</p>
      <p>Votre code QR est nécessaire lors de votre arrivée au LAN.</p>
      <p>Vous pourrez faire scanner cette page web sur un appareil mobile ou l'imprimer.</p>
      <p>Pour imprimer le code QR vous pouvez enregistrer l'image sur votre ordinateur.</p>
      <div ng-if="qrCodeString" style="padding: 25px;background-color: #BABABA;">
        <qr type-number="0" correction-level="'M'" size="250" text="qrCodeString" image="true"></qr>
      </div>
    </div>
  </div>
  <div ng-hide="userTicket">
    <div class="well well-lg">
      <p class="text-info">Il semble que vous n'avez pas encore de billet !</p>
      <a ng-href="/tickets" class="btn btn-info btn-lg">Acheter un billet <i class="fa fa-chevron-right fa-3"></i></a>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Information du profil</h3>
      </div>
      <div class="panel-body col-md-4">
        <table class="table">
          <tr>
            <th>Pseudonyme</th>
            <td>{{userData.username}}</td>
          </tr>
          <tr>
            <th>Prenom</th>
            <td>{{userData.firstname}}</td>
          </tr>
          <tr>
            <th>Nom</th>
            <td>{{userData.lastname}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
