<div class="container">
  <div class="page-header">
      <h1>Bonjour {{ userData.firstname }} !</h1>
  </div>

  <alert ng-repeat="alert in alerts" type="{{ alert.type }}" close="alerts.splice($index, 1)">{{ alert.msg }}</alert>

  <div ng-hide="userTicket">
    <div class="well">
      <p class="text-info">Vous n'avez pas de billet !</p>
      <a ng-href="/tickets" class="btn btn-info">Acheter un billet <i class="fa fa-chevron-right"></i></a>
    </div>
  </div>
  <div ng-show="userTicket && !userTicket.paid">
    <div class="well">
      <p class="text-warning">Votre billet n'est pas encore payé. Il est réservé jusqu'à {{ userTicket.reserved_until | amDateFormat:'HH:mm:ss' }}.</p>
      <a ng-href="/pay" class="btn btn-warning">Payer mon billet <i class="fa fa-chevron-right"></i></a>
    </div>
  </div>
  <div ng-show="userTicket && userTicket.paid">
    <div class="well">
      <div class="media qrcode">
        <div class="media-left">
          <div ng-if="qrCodeString">
            <qr correction-level="'M'" size="200" text="qrCodeString" image="true"></qr>
          </div>
        </div>
        <div class="media-body">
          <p class="text-success">Félicitations, votre billet a été payé !</p>
          <p>Voici votre billet électronique. Vous devez le présenter lors de votre arrivée au LAN.</p>
          <p>Il est recommandé de présenter le billet en format PDF à l'aide d'un appareil mobile. Vous pouvez aussi imprimer le billet en le téléchargeant à l'aide du bouton ci-dessous.</p>
          <a class="btn btn-primary" href="/api/qr.pdf" target="_self"><i class="fa fa-download"></i> Télécharger le billet en format PDF</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default" ng-hide="edit">
        <div class="panel-heading">
          <h3 class="panel-title">Informations de votre profil</h3>
        </div>
        <div class="panel-body">
          <table class="table">
            <tr>
              <th>Pseudonyme</th>
              <td>{{ userData.username }}</td>
            </tr>
            <tr>
              <th>Prénom</th>
              <td>{{ userData.firstname }}</td>
            </tr>
            <tr>
              <th>Nom</th>
              <td>{{ userData.lastname }}</td>
            </tr>
            <tr>
              <th>Courriel</th>
              <td>{{ userData.email }}</td>
            </tr>
            <tr>
              <th>Numéro de téléphone</th>
              <td>{{ userData.phone }}</td>
            </tr>
          </table>
          <button ng-click="edit = true" class="btn btn-primary"><i class="fa fa-pencil"></i> Modifier</button>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default" ng-show="edit">
    <div class="panel-heading">
      <h3 class="panel-title">Modification de vos informations</h3>
    </div>
    <div ng-if="edit" class="panel-body">
      <form class="form-horizontal" name="form" ng-submit="modUser(form.$valid)" ng-hide="state.success" novalidate>

        <div class="form-group has-feedback" ng-class="{ 'has-error' : (form.username.$invalid) || (!state.usernameAvailable && state.usernameChanged) }">
          <label for="username" class="col-sm-4 col-md-3 col-lg-3 control-label" data-toggle="tooltip" data-placement="top" title="Saisissez un pseudonyme ou gamertag qui vous représente">Pseudonyme <i class="fa fa-info-circle"></i></label>
          <div class="col-sm-8 col-md-9 col-lg-9 control-label-hidden">
            <input type="text" name="username" id="username" ng-model="formUser.username" ng-blur="isUsernameAvailable(formUser)" ng-change="resetUsernameChanged()" class="form-control" maxlength="64" required>
            <span class="glyphicon glyphicon-remove form-control-feedback feedback-error"></span>
            <label for="username" class="control-label" ng-show="form.username.$invalid">Vous devez saisir un nom d'utilisateur.</label>
            <label for="username" class="control-label" ng-show="!state.usernameAvailable && state.usernameChanged">Ce nom d'utilisateur est déjà utilisée.</label>
          </div>
        </div>

        <div class="form-group has-feedback" ng-class="{ 'has-error' : form.firstname.$invalid }">
          <label for="firstname" class="col-sm-4 col-md-3 col-lg-3 control-label">Prénom</label>
          <div class="col-sm-8 col-md-9 col-lg-9 control-label-hidden">
            <input type="text" name="firstname" id="firstname" ng-model="formUser.firstname" class="form-control" maxlength="64" required>
            <span class="glyphicon glyphicon-remove form-control-feedback feedback-error"></span>
            <label for="firstname" class="control-label">Vous devez saisir votre prénom.</label>
          </div>
        </div>

        <div class="form-group has-feedback" ng-class="{ 'has-error' : form.lastname.$invalid }">
          <label for="lastname" class="col-sm-4 col-md-3 col-lg-3 control-label">Nom</label>
          <div class="col-sm-8 col-md-9 col-lg-9 control-label-hidden">
            <input type="text" name="lastname" id="lastname" ng-model="formUser.lastname" class="form-control" maxlength="64" required>
            <span class="glyphicon glyphicon-remove form-control-feedback feedback-error"></span>
            <label for="lastname" class="control-label">Vous devez saisir votre nom.</label>
          </div>
        </div>

        <div class="form-group has-feedback" ng-class="{ 'has-error' : form.email.$invalid || (!state.emailAvailable && state.emailChanged) }">
          <label for="email" class="col-sm-4 col-md-3 col-lg-3 control-label" data-toggle="tooltip" data-placement="top" title="Un code de confirmation sera envoyé à l'adresse courriel saisie">Courriel <i class="fa fa-info-circle"></i></label>
          <div class="col-sm-8 col-md-9 col-lg-9 control-label-hidden">
            <input type="email" name="email" id="email" ng-model="formUser.email" ng-blur="isEmailAvailable(formUser)" ng-change="resetEmailChanged()" class="form-control" maxlength="64" required>
            <span class="glyphicon glyphicon-remove form-control-feedback feedback-error"></span>
            <label for="email" class="control-label" ng-show="form.email.$invalid">Vous devez saisir une adresse courriel valide.</label>
            <label for="email" class="control-label" ng-show="form.email.$valid && !state.emailAvailable && state.emailChanged">Cette adresse courriel est déjà utilisée.</label>
          </div>
        </div>

        <div class="form-group has-feedback" ng-class="{ 'has-error' : form.phone.$invalid || form.phone.$error.pattern }">
          <label for="phone" class="col-sm-4 col-md-3 col-lg-3 control-label" data-toggle="tooltip" data-placement="top" title="Le numéro de téléphone est requis par les autorités du cégep">Numéro de téléphone <i class="fa fa-info-circle"></i></label>
          <div class="col-sm-8 col-md-9 col-lg-9 control-label-hidden">
            <input type="text" name="phone" id="phone" ng-model="formUser.phone" ng-pattern="/^([+]?1[. -]?)?[(]?[0-9]{3}[)]?[. -]?[0-9]{3}[. -]?[0-9]{4}$/i" class="form-control" maxlength="64" required>
            <span class="glyphicon glyphicon-remove form-control-feedback feedback-error"></span>
            <label for="phone" class="control-label">Vous devez saisir un numéro de téléphone valide sous le format 123-123-1234.</label>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-4 col-md-offset-3 col-lg-offset-3 col-sm-8 col-md-9 col-lg-9">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="modPassword" id="modPassword" ng-model="modPassword">
                Modifier votre mot de passe
              </label>
            </div>
          </div>
        </div>

        <div ng-if="modPassword">
          <div class="form-group has-feedback" ng-class="{ 'has-error' : form.oldPassword.$invalid && form.oldPassword.$dirty }">
            <label for="oldPassword" class="col-sm-4 col-md-3 col-lg-3 control-label" data-toggle="tooltip" data-placement="top" title="Mot de passe d'au moins 8 caractères">Mot de passe actuel <i class="fa fa-info-circle"></i></label>
            <div class="col-sm-8 col-md-9 col-lg-9 control-label-hidden">
              <input type="password" name="oldPassword" id="oldPassword" ng-model="formUser.oldPassword" class="form-control" ng-minlength="8" placeholder="Mot de passe courant" maxlength="2048" required>
              <span class="glyphicon glyphicon-remove form-control-feedback feedback-error"></span>
              <label for="oldPassword" class="control-label">Vous devez entrer votre mot de passe actuel</label>
            </div>
          </div>

          <div class="form-group has-feedback" ng-class="{ 'has-error' : form.password.$invalid && form.password.$dirty, 'has-success' : form.password.$valid }">
            <label for="password" class="col-sm-4 col-md-3 col-lg-3 control-label" data-toggle="tooltip" data-placement="top" title="Mot de passe d'au moins 8 caractères">Nouveau mot de passe <i class="fa fa-info-circle"></i></label>
            <div class="col-sm-8 col-md-9 col-lg-9 control-label-hidden">
              <input type="password" name="password" id="password" ng-model="formUser.password" class="form-control" ng-minlength="8" placeholder="Nouveau mot de passe" maxlength="2048" required>
              <span class="glyphicon glyphicon-remove form-control-feedback feedback-error"></span>
              <span class="glyphicon glyphicon-ok form-control-feedback feedback-success"></span>
              <label for="password" class="control-label">Vous devez un mot de passe d'au moins 8 caractères.</label>
            </div>
          </div>

          <div class="form-group has-feedback" ng-class="{ 'has-error' : form.conf.$invalid && form.conf.$dirty && !form.conf.$error.passwordCheck, 'has-success' : form.conf.$valid }">
            <label for="conf" class="col-sm-4 col-md-3 col-lg-3 control-label" data-toggle="tooltip" data-placement="top" title="Confirmez votre mot de passe">Confirmation <i class="fa fa-info-circle"></i></label>
            <div class="col-sm-8 col-md-9 col-lg-9 control-label-hidden">
              <input type="password" name="conf" id="conf" class="form-control" ng-minlength="8" ng-model="none" password-check="formUser.password" placeholder="Confirmez votre nouveau mot de passe" maxlength="2048" required>
              <span class="glyphicon glyphicon-remove form-control-feedback feedback-error"></span>
              <span class="glyphicon glyphicon-ok form-control-feedback feedback-success"></span>
              <label for="conf" class="control-label">Vous devez un mot de passe identique au précédant.</label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-4 col-md-offset-3 col-lg-offset-3 col-sm-8 col-md-9 col-lg-9">
            <button type="submit" class="btn btn-primary" ng-disabled="state.success || form.email.$invalid || form.lastname.$invalid || form.firstname.$invalid || form.username.$invalid || form.phone.$invalid || !state.usernameAvailable || !state.emailAvailable || (modPassword && (form.conf.$invalid || form.password.$invalid || form.oldPassword.$invalid))"
              ng-click="submitUserMods()"><i class="fa fa-pencil"></i> Modifier les informations</button>
            <button class="btn btn-danger" ng-click="resetMods()">Annuler</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
