<div class="container">
  <div class="page-header">
    <h1>Validation d'un billet</h1>
  </div>

  <div class="alert alert-success" role="alert" ng-show="message">
    <i class="fa fa-info-circle"></i> {{ message }}
  </div>

  <div class="alert alert-danger" role="alert" ng-show="error">
    <i class="fa fa-exclamation-triangle"></i> {{ error.message }}
  </div>

  <div class="alert alert-danger" role="alert" ng-hide="ticket.paid">
    <i class="fa fa-exclamation-triangle"></i>
    <strong>Attention !</strong> Ce billet n'est pas payé !
  </div>
  <div class="alert alert-warning" role="alert" ng-show="ticket.discount_amount > 0">
    <i class="fa fa-exclamation-triangle"></i>
    <strong>Attention !</strong> Vous devez valider la carte étudiante du Collège Montmorency du joueur. Si le joueur ne possède pas sa carte ou si elle n'est pas valide, il doit payer un supplément de {{ticket.discount_amount}},00$
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Informations sur le billet</h3>
        </div>
        <div class="panel-body">
          <table class="table table-no-margin">
            <tr>
              <th>Prix du billet</th>
              <td>{{ ticket.total }},00$</td>
            </tr>
            <tr>
              <th>Type du billet</th>
              <td>{{ ticketTypes[ticket.type_id] }}</td>
            </tr>
            <tr ng-if="ticket.seat_num">
              <th>Siège</th>
              <td>{{ ticket.seat_num }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Informations sur le détenteur du billet</h3>
        </div>
        <div class="panel-body">
          <table class="table table-no-margin">
            <tr>
              <th>Nom</th>
              <td>{{ owner.firstname }} {{ owner.lastname }}</td>
            </tr>
            <tr>
              <th>Pseudonyme</th>
              <td>{{ owner.username }}</td>
            </tr>
            <tr>
              <th>Courriel</th>
              <td>{{ owner.email }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
