<div ng-show="submitted == 1" class="alert alert-success" role="alert">Vérifiez votre boîte de courriels pour <b>confirmer votre inscription !</b></div>
<div ng-show="submitted == -1" class="alert alert-danger" role="alert"><b>Zut !</b> Une erreur s'est produite avec le serveur. Veuillez réssayer de nouveau.</div>
<h1>Inscription</h1>
<form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
  <div class="row">
    <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && userForm.name.$dirty }">
      <label for="username">Nom d'utilisateur</label>
      <input type="text" name="name" ng-model="user.username" class="form-control" placeholder="Entrez votre nom d'utilisateur" required>
      <p ng-show="userForm.name.$invalid && userForm.name.$dirty" class="help-block">Vous devez entrer un nom d'utilisateur.</p>
    </div>
  </div>
  <div class="row">
    <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && userForm.email.$dirty }">
      <label for="email">Courriel</label>
      <input type="email" name="email" ng-model="user.email" class="form-control" placeholder="Entrez votre courriel" required>
      <p ng-show="userForm.email.$invalid && userForm.email.$dirty" class="help-block">Votre addresse courriel est invalide.</p>

    </div>
  </div>
  <div class="row">
    <div class="form-group" ng-class="{ 'has-error' : userForm.firstname.$invalid && userForm.firstname.$dirty }">
      <label for="firstname">Prénom</label>
      <input type="text" name="firstname" ng-model="user.firstname" class="form-control" placeholder="Entrez votre prénom" required>
      <p ng-show="userForm.firstname.$invalid && userForm.firstname.$dirty" class="help-block">Vous devez entrer un prénom.</p>

    </div>
  </div>
  <div class="row">
    <div class="form-group" ng-class="{ 'has-error' : userForm.lastname.$invalid && userForm.lastname.$dirty }">
      <label for="lastname">Nom</label>
      <input type="text" name="lastname" ng-model="user.lastname" class="form-control" placeholder="Entrez votre nom" required>
      <p ng-show="userForm.lastname.$invalid && userForm.lastname.$dirty" class="help-block">Vous devez entrer un nom.</p>
    </div>
  </div>
  <div class="row">
    <div class="form-group" ng-class="{ 'has-error' : userForm.phone.$invalid && userForm.phone.$dirty }">
      <label for="phone">Numéro de téléphone</label>
      <input type="text" name="phone" ng-model="user.phone" class="form-control" placeholder="Entrez votre numéro de téléphone" required>
      <p ng-show="userForm.phone.$invalid && userForm.phone.$dirty" class="help-block">vous devez entrer un numéro de téléphone.</p>
    </div>
  </div>
  <div class="row">
    <div class="checkbox">
      <label><input ng-model="checked" ng-init="checked = false" type="checkbox" value="false">
        J'ai lu et j'accept <a target="_blank" href="#/rules">les règles</a> du LAN</label>
    </div>
  </div>
  <div class="row">
    <div class="">
      <button type="submit" class="btn btn-primary"
      ng-disabled="!checked || userForm.email.$invalid || userForm.lastname.$invalid || userForm.firstname.$invalid || userForm.name.$invalid || submitted == 1"
      ng-click="subscribe(user)">S'inscrire</button>
      <i ng-show="submitted == 0" style="font-size: 24px" class="fa fa-cog fa-spin"></i>
    </div>
  </div>
</form>
