<div class="container">
  <div class="page-header">
    <h1>Conditions générales</h1>
  </div>

  <p>Le LAN Montmorency est une activité gérée par l'organisation LAN Québec. Ceci est une entente entre vous (le Participant) et LAN Québec. Vous devez accepter ces règles et conditions sans modification, afin de vous inscrire et de participer au LAN Montmorency. Si vous n’acceptez pas ces modalités et conditions dans leur intégralité, vous ne pouvez pas vous inscrire et participer au LAN Montmorency. LAN Québec se réserve le droit de modifier ces conditions sans préavis.</p>

  <h2>Conditions de participation générales</h2>
  <p>Vous êtes tenu de présenter une pièce d’identité lors de votre enregistrement à votre arrivée, sans quoi votre accès sera refusé. Pour bénéficier du rabais étudiant de Montmorency, vous devrez aussi présenter votre carte étudiante sans quoi vous devrez payer la différence du billet. Vous êtes aussi responsable d'apporter tout ce dont vous avez besoin pour manger et dormir.</p>

  <h2>Conditions de participation PC</h2>
  <p>En choisissant un siège de type PC, vous êtes responsable d'apporter tout ce dont vous avez besoin, incluant, mais non limité à:</p>
  <ul>
    <li>Votre ordinateur (une seule carte graphique)</li>
    <li>Votre écran (un seul)</li>
    <li>Votre clavier</li>
    <li>Votre souris</li>
    <li>Votre casque d'écoute</li>
    <li>Votre barre d'alimentation</li>
  </ul>
  <p>Nous vous fournissons <strong>qu'une seule prise d'alimentation par personne</strong>, l'accès à Internet et une place assise. Inévitablement, votre ne pourrez pas participer au LAN si vous n'avez pas tout votre matériel.</p>

  <h2>Conditions de participation Console</h2>
  <p>En choisissant un siège de type console, vous aurez la possibilité d'utiliser les consoles qui seront disponibles sur place lors du LAN, ainsi que d'apporter votre propre console, manettes et jeux pour jouer sur les téléviseurs disponibles. Par contre, prenez note que la quantité de téléviseurs est limitée et ce sera donc à vous de décider comment partager les téléviseurs.</p>

  <h2>Règles de conduite</h2>
  <p>Le participant accepte, sans limitation, de se conformer aux lois en vigueur et aux règles et conditions du LAN Montmorency. Toute faute ou manquement de la part du participant pourrait lui valoir d’être expulsé immédiatement de l'événement du LAN Montmorency.</p>
  <ul>
    <li>Faire preuve de respect envers tous les participants et les membres de l'organisation du LAN Montmorency</li>
    <li>Toute forme de tricherie ou de conduite antisportive ne sera pas tolérée</li>
    <li>Toute utilisation abusive de la connexion Internet sera sanctionnée</li>
    <li>L'échange illégal de matériel et de logiciel protégé par la loi portant sur la propriété intellectuelle est strictement interdit</li>
    <li>La consommation et la possession de drogue ou d’alcool sont strictement interdites</li>
    <li>Le visionnement, l’échange et la vente de matériel explicite ou pornographique sont strictement interdits</li>
  </ul>

  <h2>Clause de non-responsabilité</h2>
  <p>L'ACCÈS AU LAN MONTMORENCY EST FOURNIT "TELLE QUELLE", SANS GARANTIE D'AUCUNE SORTE, EXPLICITE OU IMPLICITE, NOTAMMENT SANS GARANTIE DE QUALITÉ, DE FONCTIONNEMENT OU D'AMUSEMENT. EN AUCUN CAS, LES AUTEURS DU LAN MONTMORENCY OU LE COLLÈGE MONTMORENCY NE SERONT RESPONSABLES DE TOUT DOMMAGE, RÉCLAMATION OU AUTRE RESPONSABILITÉ, QUE CE SOIT DANS LE CADRE DE LA PARTICIPATION, D'UN DÉLIT OU AUTRE, EN PROVENANCE DE, CONSÉCUTIF À OU EN RELATION AVEC L'ACCÈS AU LAN MONTMORENCY OU SA PARTICIPATION, OU AVEC D'AUTRES ÉLÉMENTS DU LAN MONTMORENCY.</p>
</div>
