<div class="modal-header">
  <h3 class="modal-title">Acheter un billet</h3>
</div>
<div class="modal-body">
    <p class="text-warning"><i class="fa fa-exclamation-triangle"></i> <strong>Attention!</strong> Vous devez être connecté pour acheter un billet.</p>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="signup()"><i class="fa fa-pencil-square-o"></i> Créer un compte</button>
  <button class="btn btn-primary" type="button" ng-click="login()"><i class="fa fa-sign-in"></i> Se connecter</button>
</div>
