<div class="container">
  <div class="checkout-breadcrumb-container" ng-show="canBuy">
      <div class="checkout-breadcrumb">
        <a href="/tickets" class="active">Billet</a>
        <span>Siège</span>
        <span>Sommaire</span>
        <span>Payement</span>
        <span>Confirmation</span>
      </div>
  </div>
  <div class="page-header">
    <div class="row header-with-timer">
      <div class="col-xs-8">
        <h1>Billets</h1>
      </div>
      <div class="col-xs-4 text-right">
        <span class="btn timer" ng-show="timerTime" ng-class="{ 'btn-warning': !timerTimeDanger, 'btn-danger': timerTimeDanger }" tooltip-placement="bottom" tooltip="Temps restant pour compléter votre transaction">
            <i class="fa fa-clock-o"></i><span> <span class="hidden-xs">Temps restant:</span> </span><span class="time-container">{{ timerTime }}</span>
        </span>
      </div>
    </div>
  </div>

  <div ng-hide="loggedIn">
    <div class="well">
      <p class="text-warning"><i class="fa fa-exclamation-triangle"></i> <strong>Attention!</strong> Vous devez être connecté pour acheter un billet.</p>
      <div class="btn-group" role="group">
        <a href="/signup" class="btn btn-default btn-sm"><i class="fa fa-pencil-square-o"></i> Créer un compte</a>
        <a href="/login" class="btn btn-default btn-sm"><i class="fa fa-sign-in"></i> Se connecter</a>
      </div>
    </div>
  </div>

  <div class="alert alert-danger" role="alert" ng-show="error">
    <i class="fa fa-exclamation-triangle"></i> {{ error.message }}
  </div>

  <div class="alert alert-info" ng-show="canBuy">
    <p><i class="fa fa-exclamation-circle"></i> Lorsque vous cliquez sur acheter, un billet vous sera réservé pour une période de 10 minutes.</p>
  </div>

  <div class="tickets">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="media">
          <div class="media-left">
            <img class="media-object" src="assets/a-logo.png" alt="LAN Montmorency Logo">
          </div>
          <div class="media-body">
            <h3 class="media-heading">LAN Montmorency <abbr title="Bring Your Own PC / Apporter votre propre ordinateur">BYOC</abbr></h3>
            <div class="ticket-date">14 et 15 novembre 2015, de 10h le samedi à 16h le dimanche</div>
            <div class="ticket-venue">Collège Montmorency</div>
          </div>
          <div class="media-right">
            <div class="ticket-price">
              20,00$
            </div>
            <div ng-show="ticketCount.pc.soldout">
              <span class="label label-danger">Épuisé</span>
            </div>
            <div ng-hide="ticketCount.pc.soldout">
              <button ng-show="canBuy" ng-disabled="submitted" ng-click="buy(0)" class="btn btn-success">Acheter <i class="fa fa-chevron-right"></i></button>
              <span ng-hide="canBuy" class="label label-success">Disponible</span>
            </div>
          </div>
        </div>
      </div>
      <div class="progress progress-striped">
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ticketCount.pc.real}}"
             aria-valuemin="0" aria-valuemax="{{max.pc}}" style="width: {{ticketCount.pc.real / max.pc * 100}}%">
          {{ ticketCount.pc.real }} vendus
        </div>
        <div class="progress-bar progress-bar-warning" ng-show="ticketCount.pc.temp > 0" role="progressbar" aria-valuenow="{{ticketCount.pc.temp}}"
             aria-valuemin="0" aria-valuemax="{{max.pc}}" style="width: {{ticketCount.pc.temp / max.pc * 100}}%">
          {{ ticketCount.pc.temp }} réservés
        </div>
        <div class="progress-bar progress-bar-success" ng-show="ticketCount.pc.avail > 0" role="progressbar" aria-valuenow="{{ticketCount.pc.avail}}"
             aria-valuemin="0" aria-valuemax="{{max.pc}}" style="width: {{ticketCount.pc.avail / max.pc * 100}}%">
          {{ ticketCount.pc.avail }} disponibles
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="media">
          <div class="media-left">
            <img class="media-object" src="assets/a-logo.png" alt="LAN Montmorency Logo">
          </div>
          <div class="media-body">
            <h3 class="media-heading">LAN Montmorency Console</h3>
            <div class="ticket-date">14 et 15 novembre 2015, de 10h le samedi à 16h le dimanche</div>
            <div class="ticket-venue">Collège Montmorency</div>
          </div>
          <div class="media-right">
            <div class="ticket-price">
              10,00$
            </div>
            <div ng-show="ticketCount.console.soldout">
              <span class="label label-danger">Épuisé</span>
            </div>
            <div ng-hide="ticketCount.console.soldout">
              <button ng-show="canBuy" ng-disabled="submitted" ng-click="buy(1)" class="btn btn-success">Acheter <i class="fa fa-chevron-right"></i></button>
              <span ng-hide="canBuy" class="label label-success">Disponible</span>
            </div>
          </div>
        </div>
      </div>
      <div class="progress progress-striped">
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ticketCount.console.real}}"
             aria-valuemin="0" aria-valuemax="{{max.console}}" style="width: {{ticketCount.console.real / max.console * 100}}%">
          {{ ticketCount.console.real }} vendus
        </div>
        <div class="progress-bar progress-bar-warning" ng-show="ticketCount.console.temp > 0" role="progressbar" aria-valuenow="{{ticketCount.console.temp}}"
             aria-valuemin="0" aria-valuemax="{{max.console}}" style="width: {{ticketCount.console.temp / max.console * 100}}%">
          {{ ticketCount.console.temp }} réservés
        </div>
        <div class="progress-bar progress-bar-success" ng-show="ticketCount.console.avail > 0" role="progressbar" aria-valuenow="{{ticketCount.console.avail}}"
             aria-valuemin="0" aria-valuemax="{{max.console}}" style="width: {{ticketCount.console.avail / max.console * 100}}%">
          {{ ticketCount.console.avail }} disponibles
        </div>
      </div>
    </div>
  </div>

  <div class="well">
    Légende
    <span class="label label-success">Disponibles</span>
    <span class="label label-warning">Réservés</span>
    <span class="label label-danger">Vendus</span>
  </div>
</div>
