<div class="container">
  <div class="page-header">
    <h1>Participants</h1>
  </div>

  <h3>PC</h3>
  <span class="text-muted"> Places occupées:</span>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{pcUsers.length}}"
         aria-valuemin="0" aria-valuemax="{{maxPc.maxUsers}}" style=" min-width:3em; width: {{pcUsers.length / maxPc.maxUsers * 100}}%">
      {{pcUsers.length}} / {{maxPc.maxUsers}}
    </div>
  </div>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Pseudonyme</th>
        <th>Prénom</th>
        <th>Nom</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in pcUsers">
        <td>{{$index + 1}}</th>
        <td>{{user.username}}</td>
        <td>{{user.firstname}}</td>
        <td>{{user.lastname}}</td>
      </tr>
    </tbody>
  </table>

  <hr />

  <h3>Console</h3>
  <span class="text-muted"> Places occupées:</span>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{consoleUsers.length}}"
         aria-valuemin="0" aria-valuemax="{{maxConsole.maxUsers}}" style=" min-width:3em; width: {{consoleUsers.length / maxConsole.maxUsers * 100}}%">
      {{consoleUsers.length}} / {{maxConsole.maxUsers}}
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Pseudonyme</th>
        <th>Prénom</th>
        <th>Nom</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in consoleUsers">
        <td>{{$index + 1}}</th>
        <td>{{user.username}}</td>
        <td>{{user.firstname}}</td>
        <td>{{user.lastname}}</td>
      </tr>
    </tbody>
  </table>
</div>
