<h1>Participants</h1>
<h3>PC</h3>
<span class="text-muted"> Places occupées:</span>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="{{data.length}}"
    aria-valuemin="0" aria-valuemax="{{maxPc.maxUsers}}" style=" min-width:3em; width: {{data.length / maxPc.maxUsers * 100}}%">
    {{data.length}} / {{maxPc.maxUsers}}
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Pseudonyme</th>
      <th>Prénom</th>
      <th>Nom</th>
    </tr>
  </thead>
  <tbody ng-repeat="user in data">
    <tr>
      <th>{{$index + 1}}</th>
      <td><b>{{user.username}}</b></td>
      <td>{{user.firstname}}</td>
      <td>{{user.lastname}}</td>
    </tr>
  </tbody>
</table>
