<div class="container">
  <div class="page-header">
    <h1>Validation de votre compte</h1>
  </div>

  <div class="alert alert-success" role="alert" ng-show="message">
    <i class="fa fa-info-circle"></i> {{message}}
  </div>

  <div class="alert alert-danger" role="alert" ng-show="error">
    <i class="fa fa-info-circle"></i> {{error.message}}
  </div>

  <div class="text-center" ng-hide="error">
    <a href="/login" class="btn btn-primary">Se connecter <i class="fa fa-chevron-right"></i></a>
  </div>
</div>
